#sausagerollspic
{
float:left;
width:130px;
height:130px;
}
#pizzapicture
 {
 display: none;
 }
  @media screen and (min-width: 700px) {
#pizzapicture
 {
 display: block;
 float:right;
 width:156px;
 height:100px;
 }
 }
@media screen and (min-width: 900px) {
 #pizzapicture
 {
 display: block;
 float:right;
 width:234px;
 height:150px;
 }
   #DHeader
{
 display: inline-block;
font-size: 30px;
color: rgb(68, 0, 0);
padding-left: 20px;
float: left;
width: 30%;
height: 50px;

}
#address
{
 display: inline-block;
color: rgb(68, 0, 0);
font-size: 20px;
float: right;
height: 50pxpx;
width: 60%;
}
#fullheader
{
height: 50px;
margin-bottom: 5px;
display: block;
}
}
.title
{
display: inline-block;
width:25%;
margin-right: 60px;
margin-bottom: 10px;
}
.pizzaquanity input[type=number]
{
 width: 100px;
}
.pizzasize select
{
 width: 100px;
}
.pizzanamesspan select
{
 width: 100px;
}

#pizza
{
width: 80%;
margin-right: auto;
margin-left:auto;
}
.pizzatoppingspan
{
 width: 150px;
 margin-right:20px;
 text-align: left;
 float: left;

}
.submit
{
width: 100%;
height: 35px;

}
.header
{
   color:#008d55;
   height : 200px;
  width  : 100%;
  background: linear-gradient(to bottom,
      #e60000    0%, #e60000  33.33%,
      white  0%, white 66.66%,
      #008000 0%);
   text-decoration: underline;
}
select{
   width: auto;
   font-size: 14px;
}
h1
{
 color: rgb(68, 0, 0);
}
#mainbody
{
 background-color: white;
 width: 80%;
 margin-right:auto;
 margin-left:auto;

}
body
{
   background-color: rgb(68, 0, 0);
}
.title
{
color: black;
text-decoration: underline;
text-align: center;
}
button
{
   background: #008d55;
 background-image: -webkit-linear-gradient(top, #008d55, #03613b);
 background-image: -moz-linear-gradient(top, #008d55, #03613b);
 background-image: -ms-linear-gradient(top, #008d55, #03613b);
 background-image: -o-linear-gradient(top, #008d55, #03613b);
 background-image: linear-gradient(to bottom, #008d55, #03613b);
 width:25%;
   text-align: center;
  height: 35px;
 color: #ffffff;
 font-size: 16px;
 padding: 5px 10px 5px 10px;
 text-decoration: none;
}

button:hover {
 color: rgb(68, 0, 0);
 text-decoration: none;
}

button.ShowButtons{width:18%}

input[type=submit]{
   background: #008d55;
 background-image: -webkit-linear-gradient(top, #008d55, #03613b);
 background-image: -moz-linear-gradient(top, #008d55, #03613b);
 background-image: -ms-linear-gradient(top, #008d55, #03613b);
 background-image: -o-linear-gradient(top, #008d55, #03613b);
 background-image: linear-gradient(to bottom, #008d55, #03613b);
 -webkit-border-radius: 11;
 color: #ffffff;
 font-size: 16px;
 text-align: center;
 text-decoration: none;
 display: block;
 margin-right:auto;
 margin-left:auto;

}

#Subs
{
Display: inline;
margin-left:auto;
margin-right: auto;
width: 60%;
font-size: 14px;

}
#hotsubs input
{
   margin-left: 80px;
}
#coldsubs input
{
margin-left: 80px;
}

#salad
{
   font-size: 14px;
}
.saladname
{

}
.saladprice
{
  margin-left: 80px;
}
.saladdescription
{
margin-left: 80px;
}
.subdescription
{
margin-left: 80px;
}
.subpricehalf
{
margin-left: 80px;
}
.subpricefull
{
margin-left: 80px;
}
.CartName
{
   margin-right:40px;
}
.CartPrice
{
   margin-right:40px;
}
.CartDescriptions
{
margin-right:40px;
}
@media screen and (max-width: 900px) {
   .CartDescriptions{display: none;}
}
.CartQuanity
{
margin-right:40px;
}
.rollsname
{
margin-right:40px;
}
.rollsprice
{
margin-right:40px;
}
.rollsdescription
{
margin-right:40px;
}
.rollsquanity
{
margin-right:40px;
}

     .formsFood{display: none;}

       button{margin: 10px;}

       input[type=number]{width: 70px;}
 input[type=number]
 {
     font-size: 16px;
     padding: 0 8px;
 }
 input[type=number]::-webkit-inner-spin-button
 {
     -webkit-appearance: none;
     cursor:pointer;
     display:block;
     width:8px;
     color: #333;
     text-align:center;
     position:relative;
 }
 input[type=number]::-webkit-inner-spin-button
 {
     background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;
     width: 14px;
     height: 14px;
     padding: 4px;
     position: relative;
     right: 4px;
     border-radius: 28px;
 }

#testadmin{
   text-align: center;
   display: block;
}

 #cart{
   background: lightgray;
   text-align: left;
   display: block;
 }
.fillingsspan
{
 width: 150px;
 margin-right:20px;
 text-align: left;
 float: left;
}
#fillingsdiv
{
width: 80%;
margin-right: auto;
margin-left:auto;
}
input[type=text]{text-align: center;display: block;
   margin-right:auto;margin-left: auto;}
.footer{
   text-align: center;
   padding-bottom: 10px;
   color: rgb(68, 0, 0);
}
