#pizzapicture
  {
  display: none;
  }
 #saladpic
  {
  display: none;
  }
 #sausagerollspic
  {
  display: none;
  }
 #calzonepic
  {
  display: none;
  }

@media screen and (min-width: 700px) 
{
 #pizzapicture
  {
  display: block;
  float:right;
  width:156px;
  height:100px;
  }
 #saladpic
  {
  display: block;
  float:right;
  width:133px;
  height:100px;
  }
 #sausagerollspic
  {
  display: block;
  float:right;
  width:72px;
  height:100px;
  }
 #calzonepic
  {
  display: block;
  float:right;
  width:135px;
  height:100px;
  }
}
@media screen and (min-width: 900px)
{
  #pizzapicture
  {
  display: block;
  float:right;
  width:234px;
  height:150px;
  }

  #saladpic
  {
  display: block;
  float:right;
  width:200px;
  height:150px;
  }

  #sausagerollspic
  {
  display: block;
  float:right;
  width:107px;
  height:150px;
  }

  #calzonepic
  {
  display: block;
  float:right;
  width:202px;
  height:150px;
  }
}

#DHeader
{
display: inline-block;
font-size: 30px;
color: rgb(68, 0, 0);
padding-left: 20px; 
float: left;
width: 30%;
height: 50px;

}

#fullheader
{
height: 50px;
margin-bottom: 5px;
display: block;
}


.header
{
    color:#008d55;
    height : 200px;
   width  : 100%;
   background: linear-gradient(to bottom, 
       #e60000    0%, #e60000  33.33%, 
       white  0%, white 66.66%,        
       #008000 0%);
    text-decoration: underline;
}


select{
    width: auto;
    margin: 5px;
    font-size: 14px;
}

input[type=checkbox]{
    margin: 5px;
}

.title
{
color: black;
text-decoration: underline;
text-align: center;
}
button
{
    background: #008d55;
  background-image: -webkit-linear-gradient(top, #008d55, #03613b);
  background-image: -moz-linear-gradient(top, #008d55, #03613b);
  background-image: -ms-linear-gradient(top, #008d55, #03613b);
  background-image: -o-linear-gradient(top, #008d55, #03613b);
  background-image: linear-gradient(to bottom, #008d55, #03613b);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

button:hover {
  background: #1ca870;
  background-image: -webkit-linear-gradient(top, #1ca870, #1d855b);
  background-image: -moz-linear-gradient(top, #1ca870, #1d855b);
  background-image: -ms-linear-gradient(top, #1ca870, #1d855b);
  background-image: -o-linear-gradient(top, #1ca870, #1d855b);
  background-image: linear-gradient(to bottom, #1ca870, #1d855b);
  text-decoration: none;
}

input[type=submit]{
    background: #008d55;
  background-image: -webkit-linear-gradient(top, #008d55, #03613b);
  background-image: -moz-linear-gradient(top, #008d55, #03613b);
  background-image: -ms-linear-gradient(top, #008d55, #03613b);
  background-image: -o-linear-gradient(top, #008d55, #03613b);
  background-image: linear-gradient(to bottom, #008d55, #03613b);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#pizza

.pizzaquanity input[type=number]
{
	width: 100px;
}
.pizzasize select
{
	width: 100px;
}
.pizzanamesspan select
{
	width: 100px;
}


{
width: 80%;
margin-right: auto;
margin-left:auto;
}
.pizzatoppingspan
{
	width: 150px;
	margin-right:20px;
	text-align: left;
	float: left;

}
.submit
{
width: 100%;
 height: 35px;
}
.header
{
    color:#008d55;
    height : 200px;
   width  : 100%;
   background: linear-gradient(to bottom, 
       #e60000    0%, #e60000  33.33%, 
       white  0%, white 66.66%,        
       #008000 0%);
    text-decoration: underline;
}
select{
    width: auto;
    font-size: 14px;
}
h1
{
	color: rgb(68, 0, 0);
}

#sausagerolls
{
width: 80%;
margin-right: auto;
margin-left:auto;
}
.rollsname
{
margin-left:40px;
display:inline-block;
width:100px;
}

.rollsdescription
{
display:inline-block;
width:200px;
}

.rollsprice
{
display:inline-block;
width:60px;
}

.rollsquanity
{
display:inline-block;
width:150px;
}
.submit
{
width: 100%;
 height: 35px;
}


#calzone
{
width: 80%;
margin-right: auto;
margin-left:auto;
}
.submit
{
width: 100%;
 height: 35px;
}


#Subs
{
Display: inline;
margin-left:auto;
margin-right: auto;
width: 60%;
font-size: 14px;
   
}
.subdescription
{
margin-left: 80px;
}
.subpricehalf
{
margin-left: 80px;
}
.subpricefull
{
margin-left: 80px;
}
.submit
{
width: 100%;
 height: 35px;
}
#hotsubs input
{
    margin-left: 80px;
}
#coldsubs input
{
 margin-left: 80px;
}



#salad
{
font-size: 14px;
width: 80%;
margin-right: auto;
margin-left:auto;
}
.submit
{
width: 100%;
 height: 35px;
}
.saladname
{
margin-left:40px;
display:inline-block;
width:100px;  
}

.saladdescription
{
display:inline-block;
width:200px;
}
.saladprice
{
display:inline-block;
width:60px;
}



.CartName
{
    margin-right:40px;
}
.CartPrice
{
    margin-right:40px;
}
.CartDescriptions
{
 margin-right:40px;
}
.CartQuanity
{
margin-right:40px;
} 
